<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch">

  <!-- Toolbar -->
  <div fxFlex="15">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Artificer : The Tool for Masters</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <!-- Toggle Side Nav -->
        <span>
          <button mat-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <!-- Side Nav -->
  <div fxFlex="70" fxLayout="row">
    <mat-sidenav-container fxFlex>
      <!-- ## Side Nav Options -->
      <mat-sidenav #sidenav mode="side" class="sidenav" fxFlex="10">
        <div class="content" fxLayout="column" fxLayoutAlign="center center">
          <span>
            <button mat-button class="sidenav-options" [routerLink]="['']">
              Home <mat-icon>home</mat-icon>
            </button>
          </span>
          <span>
            <button mat-button class="sidenav-options" [routerLink]="['materials']">
              Materials <mat-icon>inbox</mat-icon>
            </button>
          </span>
          <span>
            <button mat-button class="sidenav-options" [routerLink]="['servants']">
              Servants <mat-icon>people</mat-icon>
            </button>
          </span>
        </div>
      </mat-sidenav>

      <!-- ## Side Nav Contents -->
      <mat-sidenav-content fxFlex="90">
        <div class="content" fxLayout="row" fxLayoutAlign="center">
          <div class="card card-small">
            <span>View My Materials</span>
          </div>

          <div class="card card-small">
            <span>View My Servants</span>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <!-- Footer -->
  <div fxFlex="10">
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="footer-content">
            Love Artificer?&nbsp;
            <a href="https://github.com/fgo-artificer" target="_blank" rel="noopener" class="footer-content"> Star our repositories.
              <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
            </a>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</div>

<router-outlet></router-outlet>
